/* .container {
    margin: 50px 0 !important;
} */

.card {
    margin: 2% !important;
    margin-left: 10% !important;
}

.confirmed {
    border-bottom: 10px solid rgba(255, 145, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

/* media queries */
@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}