.container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.card {
    width: 90% !important;
    margin: 2% !important;
}

.confirmed {
    border-bottom: 10px solid rgba(255, 145, 0, 0.5);
}

.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

.text {
    display: none;
}


/* media queries */
@media (max-width: 770px) {
    .card {
        width: 80% !important;
        margin: 2% !important;
    }
    .text {
        display: block;
        margin: 5% 0;
        text-align: center;
    }
}